<section class="h-full w-full min-h-screen overflow-auto transition ease-in-out bg-home">
  <div class="w-full min-h-screen  mx-auto lg:w-[60%] bg-[#f0f0f0]">
    <div class="flex flex-col lg:flex-col w-full mb-8 lg:mb-0 bg-gray-300">

      <div class="mb-8 lg:mb-5 p-8">
        <div>
          <span
            (click)="back()"
            class="cursor-pointer flex items-center justify-center w-10 h-10 rounded-full hover:bg-[#a9a9a9] transition"
          >
            <ng-icon name="heroArrowSmallLeftSolid" class="font-bold text-2xl " />
          </span>
        </div>
        <div class="flex justify-between">
          <h3 class="text-[#444444] font-bold text-xl">Contact Details</h3>
          <h3 class="text-[#444444] font-bold text-xl cursor-pointer" (click)="edit()">Edit</h3>
        </div>
      </div>

      <!--Photo-->
      <div class="flex justify-center items-center">
        <div >

            <img class="rounded rounded-full object-cover" [src]="selectedContact?.photoUrl || 'assets/images/dp-holder.jpg'" alt="DP" />

            <div class="mt-5 flex flex-col items-center">
              <h5 class="font-semibold text-xl">{{selectedContact.firstName}} {{selectedContact.lastName}}</h5>
              <h4>{{selectedContact.phoneNumber}}</h4>
            </div>

            <div class="mt-5 mb-4 flex flex-row gap-5 justify-center items-center">
              <span>
                <button class="text-sm/6 text-gray-900 flex items-center justify-center w-10 h-10 rounded-full bg-[#a9a9a9] transition">
                  <ng-icon name="featherMessageSquare" class="font-bold text-xl" />
              </button>
              </span>
              <span>
                <button class="text-sm/6 text-gray-900 flex items-center justify-center w-10 h-10 rounded-full bg-[#a9a9a9] transition">
                  <ng-icon name="featherPhoneCall" class="font-bold text-xl" />
              </button>
              </span>


              <span>
                <button class="text-sm/6 text-gray-900 flex items-center justify-center w-10 h-10 rounded-full bg-[#a9a9a9] transition">
                  <ng-icon name="featherVideo" class="font-bold text-xl" />
              </button>
              </span>

              <span>
                <button class="text-sm/6 text-gray-900 flex items-center justify-center w-10 h-10 rounded-full bg-[#a9a9a9] transition">
                  <ng-icon name="featherMail" class="font-bold text-xl" />
              </button>
              </span>
            </div>
        </div>
      </div>

      <div class="flex flex-col lg:flex-col w-full lg:mb-0 rounded-t-xl bg-[#f0f0f0]">
        <div class=" lg:mb-5 p-8">
          <ul role="list" class="divide-y divide-[#c0c0c0]">
            <div class="w-full mb-8 lg:mb-0">
            <li class="flex justify-between gap-x-6 py-5" >
              <div class="flex min-w-0 gap-x-4 cursor-pointer">
                <div class="min-w-0 flex-auto">
                  <p class="text-sm/6 font-semibold text-[#444444]">Mobile</p>
                  <p class="mt-1 truncate text-xs/5 text-[#808080]">{{selectedContact.phoneNumber}}</p>
                </div>
              </div>
            </li>
            <li class="flex justify-between gap-x-6 py-5" >
              <div class="flex min-w-0 gap-x-4 cursor-pointer">
                <div class="min-w-0 flex-auto">
                  <p class="text-sm/6 font-semibold text-[#444444]">First Name</p>
                  <p class="mt-1 truncate text-xs/5 text-[#808080]">{{selectedContact.firstName}}</p>
                </div>
              </div>
            </li>

            <li class="flex justify-between gap-x-6 py-5" >
              <div class="flex min-w-0 gap-x-4 cursor-pointer">
                <div class="min-w-0 flex-auto">
                  <p class="text-sm/6 font-semibold text-[#444444]">Email</p>
                  <p class="mt-1 truncate text-xs/5 text-[#808080]">{{selectedContact.email}}</p>
                </div>
              </div>
            </li>

            <li class="flex justify-between gap-x-6 py-5" >
              <div class="flex min-w-0 gap-x-4 cursor-pointer">
                <div class="min-w-0 flex-auto">
                  <p class="text-sm/6 font-semibold text-[#444444]">Physical Address</p>
                  <p class="mt-1 truncate text-xs/5 text-[#808080]">{{selectedContact.physicalAddress}}</p>
                </div>
              </div>
            </li>
          </div>
          </ul>
        </div>
      </div>
    </div>



  </div>
</section>
